# Virtual Environments
.env
.env.*
orchestration/kestra/.env
!.env.example
.venv/
env/
venv/
ENV/

# Python cache, build & testing
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.eggs/
.pytest_cache/
.coverage
htmlcov/

# IDEs & Notebooks
.vscode/
.idea/
.ipynb_checkpoints/

# Data & Logs
*.csv
*.tsv
*.parquet
*.orc
*.avro
*.feather
*.json
*.jsonl
*.ndjson
*.log

# Databases & Local Data Warehouses
*.db
*.sqlite
*.sqlite3
*.duckdb
*.duckdb.wal

# Big Data & Engine Artifacts
spark-warehouse/
metastore_db/
derby.log
checkpoint/
.sparkStaging/
*_delta_log/
.iceberg-metadata/

# Local Storage Emulators
.minio.sys/
minio-data/
localstack/

# Orchestration & Pipeline Engines
airflow.db
airflow.cfg
airflow-logs/
logs/
.dagster/
.prefect/

# Terraform
.terraform/
*tfvars
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db