#API Football requests data
FLOW_API_FOOTBALL_KEY=your_football_api_key

#AWS credentials
FLOW_AWS_ACCESS_KEY_ID=your_aws_access_key_id
FLOW_AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_DEFAULT_REGION=eu-central-1
AWS_S3_LANDING_BUCKET_NAME=football-data-pipeline-landing-zone-dev

#Postgres credentials
POSTGRES_USER=your_postgres_user_name
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=database_name

#Kestra credentials
KESTRA_USER=valid_email
KESTRA_PASSWORD=your_kestra_password